<!-- /components/navbar.html -->
<!DOCTYPE html>
<nav class="navbar">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="logo">
                <img src="logo.png" alt="Podología El Quinto Dedo - Podólogo en Valparaíso">
            </a>
            <button class="menu-toggle" aria-label="Abrir menú">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-menu">
                <li><a href="index.html">Inicio</a></li>
                <li class="dropdown">
                    <a href="clinica-valparaiso.html">Clínica</a>
                    <ul class="dropdown-menu">
                        <li><a href="una-encarnada-valparaiso.html">Uña Encarnada</a></li>
                        <li><a href="pedicure-clinico-valparaiso.html">Pedicure Clínico</a></li>
                        <li><a href="tratamiento-pie-diabetico-valparaiso.html">Pie Diabético</a></li>
                        <li><a href="curaciones-especializadas-valparaiso.html">Curaciones</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="spa-medico-valparaiso.html">Spa Médico</a>
                    <ul class="dropdown-menu">
                        <li><a href="tratamiento-hongos-callos-valparaiso.html">Hongos y Callos</a></li>
                        <li><a href="exfoliacion-hidratacion-valparaiso.html">Exfoliación e Hidratación</a></li>
                        <li><a href="aromaterapia-valparaiso.html">Aromaterapia</a></li>
                        <li><a href="spa-terapeutico-pies-valparaiso.html">Spa Terapéutico</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="masaje-pies-valparaiso.html">Masajes</a>
                    <ul class="dropdown-menu">
                        <li><a href="masaje-relajante-pies-valparaiso.html">Masaje Relajante</a></li>
                        <li><a href="reflexologia-podal-valparaiso.html">Reflexología Podal</a></li>
                        <li><a href="masaje-descontracturante-valparaiso.html">Descontracturante</a></li>
                        <li><a href="hidromasaje-relajante-valparaiso.html">Hidromasaje</a></li>
                    </ul>
                </li>
                <li><a href="https://wa.me/56984890330?text=Hola,%20me%20interesa%20agendar%20una%20cita%20para%20cuidado%20podológico" class="btn-contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>